{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "requirePragma": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@nestjs",
    "",
    "^types$",
    "^@/types",
    "^@/config",
    "^@/lib",
    "^@/dto",
    "^@/nestjs/types",
    "^@/nestjs/config",
    "^@/nestjs/lib",
    "^@/nestjs/dto",
    "",
    "^@/app/",
    "^@/nestjs/app/",
    "",
    "^@/db",
    "^@/nestjs/db",
    "",
    "^@/app",
    "^@/nestjs",
    "",
    "^@/common",
    "",
    "^@/",
    "",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
